<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	<h1>Support Home</h1>
	<table>	
		<tr>
			<td><a href="/showCustomer"><input type="button" value="View Customers"/></a></td>
			<td><a href="/showStaff"><input type="button" value="View Staff"/></a></td>
			<td><a href="/showProduct"><input type="button" value="View Products"/></a></td>
			<td><a href="/showTicket"><input type="button" value="View Tickets"/></a></td>
		</tr>
		<tr>
			<td><a href="/customer"><input type="button" value="Add Customer"/></a></td>
			<td></td>
			<td></td>
			<td><a href="/ticket"><input type="button" value="Add Ticket"/></a></td>
		</tr>
	</table>

	<p>
	<strong>{{message}}</strong>
	</p>
	<p></p>	

	<table border="1">
		{{tableHeading|safe}}
			{% for row in table%}
			<tr>
			{% for item in row%}
				<td>{{item}}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
</body>
</html>