<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
</head>

<body>
	<h1>Add New Customer</h1>
	<form action="/addCustomer" method="post">
	 <table>
		<tr><td>ID : </td><td><input name="id" type="text" min="0"/><td></tr>
		<tr><td>Name : </td><td><input name="name" type="text"/></td></tr>
		<tr><td>Email : </td><td><input name="email" type="text"/></td></tr>
	</table>
	<p>
	</p>
	<table>
		<tr><td><input type="submit" value="Add Record">
		    <input type="reset" value="Clear Details">
		    <a href="/goToCustomerDelete"><input type="button" value="Delete Customer"></a></td></tr>
		<tr><td><a href="/"><input type="button" value="Return Home"></a></td></tr>			
	 </table>
	</form>
	

	<p>
	<strong>{{message}}</strong>
	</p>
	<p>
	<em>{{error}}</em>
	</p>	

	<table border="1">
		{{tableHeading|safe}}
		{% for row in table%}
			<tr>
			{% for item in row%}
				<td>{{item}}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>	
</body>
</html>