<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
</head>

<body>
	<h1>Delete A Customer</h1>
	<table>
	<form action="/deleteCustomer" method="post">
		<tr><td>Customer ID : </td><td><input name="id" type="text"/><td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><input type="submit" value="Delete Customer">&nbsp;&nbsp;&nbsp;</td>		
	</form>
		<tr> <td><a href="/"><input type="button" value="Return Home"></a></td></tr>
	</table>

	<p>
	<strong>{{message}}</strong>
	</p>
	<p>
	<em>{{error}}</em>
	</p>	

	<table border="1">
		{{table2Heading|safe}}
		{% for row in table2%}
			<tr>
			{% for item in row%}
				<td>{{item}}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>	
</body>
</html>