<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	<h1>Add New Customer</h1>
	<table>
	<form action="/addCustomer" method="post">
		<tr><td>ID : </td><td><input name="id" type="text"/><td></tr>
		<tr><td>Name : </td><td><input name="name" type="text"/></td></tr>
		<tr><td>Email : </td><td><input name="email" type="text"/></td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><input type="submit" value="Add Record">&nbsp;&nbsp;&nbsp;</td>		<td><input type="reset" value="Clear Details"></td></tr>
		<tr> <td>&nbsp;</td></tr>
	</form>
		<tr> <td><a href="/"><input type="button" value="Return Home"></a></td></tr>
	</table>

	{{message}}
	{{error}}

</html>