<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	<h1>Create A Support Ticket</h1>
	<table>
	<form action="/addTicket" method="post">
		<tr><td>ID : </td><td><input name="id" type="text"/><td></tr>
		<tr><td>Problem : </td><td><textarea name="problem" rows="5"></textarea></td></tr>
		<tr><td/><td><input type="radio" name="priority" value="1">1</td></tr>
		<tr><td>Priority : </td><td><input type="radio" name="priority" value="2">2</td></tr>
		<tr><td/><td><input type="radio" name="priority" value="3">3</td></tr>
		<tr><td>CustomerID : </td><td><input name="customerid" type="text"/></td></tr>
		<tr><td>ProductID : </td><td><input name="productid" type="text"/></td></tr>
		<tr><td>&nbsp;</td></tr>
		<tr><td><input type="submit" value="Create Ticket">&nbsp;&nbsp;&nbsp;</td>		<td><input type="reset" value="Clear Details"></td></tr>
		<tr> <td>&nbsp;</td></tr>
	</form>
		<tr> <td><a href="/"><input type="button" value="Return Home"></a></td></tr>
	</table>

	{{message}}
	{{error}}

</html>