<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	<h1>Close A Support Ticket</h1>
	<form action="/closeTicket" method="post" id="closeform">
	<table>
		<tr><td>Ticket ID : </td><td><input name="id" type="text"></td>
		<td><input type="submit" value="Close Ticket"></td></tr>
		<tr> <td><a href="/"><input type="button" value="Return Home"></a></td></tr>
	
	</table>
	</form>

	<p>
	<strong>{{message}}</strong>
	</p>
	<p>
	<em>{{error}}</em>
	</p>	

</body>	
</html>