<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	<h1>Search for a Support Ticket</h1>
	<p/>

	<form action="/ticketSearch" method="get">
	Ticket ID : <input name="id" type="text"/>
	<input type="submit" value="Search"/>
	</form>

	<p></p>

	<a href="/showTicket"><input type="button" value="View Tickets"></a>

	<a href="/"><input type="button" value="Return Home"></a>

	<p></p>

	<table border="1">
		{{tableHeading|safe}}
		{% for row in table%}
			<tr>
			{% for item in row%}
				<td>{{item}}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>

	<p>
	<strong>{{message}}</strong>
	</p>
	<p>
	<em>{{error}}</em>
	</p>	
</body>
</html>