<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	<h1>Update A Support Ticket</h1>
	<form action="/addTicketUpdate" method="post">
	<table>
		<tr><td>Update ID : </td><td><input name="id" type="text"/><td></tr>
		<tr><td>Message : </td><td><textarea name="message" rows="5"></textarea></td></tr>
		<tr><td>Ticket ID : </td><td><input name="ticketid" type="text"/></td></tr>
		<tr><td>Staff ID : </td><td><input name="staffid" type="text"/></td></tr>
	</table>
	<p></p>
	<table>
		<tr><td><input type="submit" value="Add Update"></td>
		<td><input type="reset" value="Clear Details"></td></tr>
	
		<tr><td><a href="/showTicket"><input type="button" value="View Tickets"></a></td>
		<td><a href="/closeOldTickets"><input type="button" value="Close Old Tickets"></a></td></tr>
		<tr><td><a href="/"><input type="button" value="Return Home"></a></td></tr>
		
	</table>
	</form>

	<p>
	<strong>{{message}}</strong>
	</p>
	<p>
	<em>{{error}}</em>
	</p>

</body>
</html>