<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	{{title|safe}}
	<p/>
	<a href="/showTicket"><input type="button" value="All Tickets"></a>
	<a href="/showOpenTicket"><input type="button" value="Open Tickets"></a>
	<a href="/showClosedTicket"><input type="button" value="Closed Tickets"></a>

	<p/>
	<a href="/goToTicketUpdate"><input type="button" value="Update A Ticket"></a>
	<a href="/goToTicketClose"><input type="button" value="Close A Ticket"></a>
	<a href="/goToTicketSearch"><input type="button" value="Search For A Ticket"></a>

	<p/>
	<a href="/"><input type="button" value="Return Home"></a>
	<p/>

	<table border="1">
		{{tableHeading|safe}}
		{% for row in table%}
			<tr>
			{% for item in row%}
				<td>{{item}}</td>
			{% endfor %}
			
		{% endfor %}
	</table>

	<p>
	<strong>{{message}}</strong>
	</p>
</body>
</html>