<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-type" content="text/html" />
	<title>100088688 ASSIGNMENT</title>
	</head>

	<body>
	<h1>Create A Support Ticket</h1>
	<form action="/addTicket" method="post">
	<table>
		<tr><td>ID : </td><td><input name="id" type="text"/><td></tr>
		<tr><td>Problem : </td><td><textarea name="problem" rows="5"></textarea></td></tr>
		<tr><td/><td><input type="radio" name="priority" value="1" checked="checked">1</td></tr>
		<tr><td>Priority : </td><td><input type="radio" name="priority" value="2">2</td></tr>
		<tr><td/><td><input type="radio" name="priority" value="3">3</td></tr>
		<tr><td>CustomerID : </td><td><input name="customerid" type="text"/></td></tr>
		<tr><td>ProductID : </td><td><input name="productid" type="text"/></td></tr>
	</table>
	<p>
	</p>
	<table>
		<tr><td><input type="submit" value="Create Ticket">
		<input type="reset" value="Clear Details"></td></tr>
		<tr><td><a href="/"><input type="button" value="Return Home"></a></td></tr>
	</table>
	</form>

	<p>
	<strong>{{message}}</strong>
	</p>
	<p>
	<em>{{error}}</em>
	</p>	

	<table border="1">
		{{tableHeading|safe}}
		{% for row in table%}
			<tr>
			{% for item in row%}
				<td>{{item}}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>	

<body>
</html>